.workflowBox {
    padding: 10px;
    padding-left: 52px;
    min-height: 32px;
    border: 1px solid #66AA66;
    background-color: #CCFFCC;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}


